archive/
source/categories/
Dalal-cvpr05(2).pdf
source/categories/
source/segments/
source/bgr_segments_nobg/
source/bgr_segments_withbg/
source/bgr_segmentation_full/
source/hsv_segmentation_full/
source/hsv_segments_withbg/
source/hsv_segments_nobg/
source/big_radial_models/
source/CervicalCells/
source/bgr_*
source/hsv_*
source/svm/
source/tmp/
source/ops_logs/
source/analysis_module/results/
source/analysis_module/*.pyc
source/cnn/results/
source/cnn/model/
source/cnn/*.pyc
source/dcnn/model/
source/dcnn/results/
source/dcnn/*.pyc
source/*.pyc
source/nn/*.pyc
source/nn/*model*
source/two-path/*model*
source/two-path/*.pyc
source/two-path/results
source/cnn/results
source/dcnn/results
source/nn/results
